<html>
<head>
	<title>BoomRoom NODE EDITION</title>

		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/styles.css">

    <!-- Libraries -->
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>
    <script type="text/javascript" src='javascripts/libraries/marionette.js'></script>

    <!-- Templates -->

    <!-- app -->
    <script type="text/javascript" src='javascripts/backbone/app.js'></script>

    <!-- Models -->
		<script type="text/javascript" src='javascripts/backbone/models/Room.js'></script>
		<script type="text/javascript" src='javascripts/backbone/models/Song.js'></script>
		<script type="text/javascript" src='javascripts/backbone/models/User.js'></script>

    <!-- Collections -->
		<script type="text/javascript" src='javascripts/backbone/collections/RoomCollection.js'></script>
		<script type="text/javascript" src='javascripts/backbone/collections/SongCollection.js'></script>
		<script type="text/javascript" src='javascripts/backbone/collections/UserCollection.js'></script>

    <!-- Views -->


</head>
<body>

</body>
</html>
