<!doctype html>
<html>
<head>
<title>BoomRoom NODE EDITION</title>

<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->


<!-- Libraries -->
<script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
<script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
<script type="text/javascript" src='javascripts/libraries/backbone.js'></script>
<script type="text/javascript" src='javascripts/libraries/marionette.js'></script>

<!-- Templates -->

<!-- app -->
<script type="text/javascript" src='javascripts/backbone/app.js'></script>

<!-- Models -->
<script type="text/javascript" src='javascripts/backbone/models/Room.js'></script>
<script type="text/javascript" src='javascripts/backbone/models/Song.js'></script>
<script type="text/javascript" src='javascripts/backbone/models/User.js'></script>

<!-- Collections -->
<script type="text/javascript" src='javascripts/backbone/collections/RoomCollection.js'></script>
<script type="text/javascript" src='javascripts/backbone/collections/SongCollection.js'></script>
<script type="text/javascript" src='javascripts/backbone/collections/UserCollection.js'></script>

<!-- Views -->

</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>



	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
